*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    margin-left: 30px;
    margin-top: 30px;
}
.head-container{
    margin-bottom: 40px;

}
.head{
    font-size: 3rem;
    background-image: linear-gradient(to right, #ff00cc, #333399);
    color: white;
}
p{
    font-size: 1.5rem;
    margin-bottom: 20px;
    background-image: linear-gradient(to right, #000428, #004e92);
    color: white;
    width: 40%;
    margin: 0 auto;
    
}
a{
  background-image: linear-gradient(to right, #2c3e50, #fd746c); 
  color: white; 
  display: inline-block;
  height: 20px;
  width: 40px;
}