* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.section {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(
    to right,
    rgb(199, 255, 221, 0.6),
    rgb(251, 215, 131, 0.2),
    rgb(247, 120, 124, 0.6)
  ), url('./Belongings/pexels-jan-van-bizar-15469650.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
