@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Roboto:wght@300;400;700&family=Urbanist:ital,wght@0,700;1,900&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    background-color: #0f0e0e;
    display: grid;
    place-items: center;
    font-size: 62.5%;
}
.container{
    font-size: 5rem;
    color: #fff;
    font-family: "Urbanist", sans-serif;
    position: relative;
    text-transform: uppercase;
}
.container::before{
    content: 'Abhishek...';
    color: yellow;
    position:absolute;
    font-size: 5rem;
    top: 0;
    left: 0;
    width: 0%;
    text-transform: uppercase;
    border-right: 1px solid yellow;
    overflow: hidden;
    animation: scan 2s linear infinite;
}
@keyframes scan{
    0%{
        width: 0%;
    }
    50%{
        width: 100%;
    }
}
