*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    width: 100%;
}
.container-1{
    height: 3.5rem;
    width: 100%;
    background-color: #66ff00;
    text-align: center;
    position: fixed;
    top: 0;
    z-index: 3;
}
.container-2{
    background-image: linear-gradient(to right, #16bffd, #cb3066);
}
.container-3{
    background-image: linear-gradient(to right, #eecda3, #ef629f);
}
.container-4{
    background-image: linear-gradient(to right, #1d4350, #a43931);
}
.container-5{
    background-image: linear-gradient(to right, #a80077, #66ff00);
}

/* CSS */
.button-73 {
  appearance: none;
  background-color: #FFFFFF;
  border-radius: 40em;
  border-style: none;
  box-shadow: #ADCFFF 0 -12px 6px inset;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: -.24px;
  margin: 0;
  outline: none;
  padding: 1rem 1.3rem;
  quotes: auto;
  text-align: center;
  text-decoration: none;
  transition: all .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  position: sticky;
  top:50%;
  z-index: 2;
}

.button-73:hover {
  background-color: #FFC229;
  box-shadow: #FF6314 0 -6px 8px inset;
  transform: scale(1.125);
}

.button-73:active {
  transform: scale(1.025);
}

@media (min-width: 768px) {
  .button-73 {
    font-size: 1.5rem;
    padding: .75rem 2rem;
  }
}