@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Roboto:wght@300;400&family=Urbanist:ital,wght@0,700;1,900&display=swap');
@font-face{
    font-style: 'battle';
    src: url('./Belongings/Battle.ttf');
}
body{
    background-color: hsl(0, 0%, 94%);
    display: grid;
    place-items: center;
    font-family: "Urbanist", sans-serif;
}
.container{
    width: 50%;
}
.head{
    font-size: 3rem;
    font-style: italic;
    font-family: 'battle';
    font-weight: 900;
    text-shadow: 2px 2px 2px red;
}
.para{
    font-size: 1rem;
    letter-spacing: 1px;
    word-spacing: 1.6px;
    line-height: 1.6;
    text-transform: capitalize;
}
a{
    text-decoration: none;
    color: red;
}
p::first-letter{
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
}