* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100%;
  background-color: brown;
}
.container {
  height: 100vh;
  width: 100%;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.inside-container {
  width: 100px;
  aspect-ratio: 1;
  border: 1px solid blue;
  background-color: blueviolet;
  box-shadow: 10px -10px rgba(0, 0, 0, 0.6);
  border-radius: 50%;
  transition: transform 2s ease;
}
.container:hover .inside-container {
  transform: translate(70vw, 0); /* Correct syntax for translation */
}
